* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ebebeb;
}

.container {
  width: 90vw;
  height: 100%;
}

header {
  display: flex;
  justify-content: space-between;
}

.log_btn {
  background-color: #50c5da;
  color: #fff;
  border: 1px solid #50c5da;
  border-radius: 6px;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  ul {
    display: flex;
    li {
    	list-style: none;
    	margin: 0;
    	padding: 0;
      a {
        text-decoration: none;
        color: #9d9c9c;
      }
      a:active , a:hover {
        color: #096c7e;
      }
    }
  }
  p {
    font-family: "Times New Roman", Times, serif;
    font-size: 22px;
  }
}

.jumbotron {
  height: 80vh;
  background-image: url(../images/jumbotron.jpg);
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  .banner {
    background-color: #50c5da;
    color: #fff;
    align-self: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 9px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.23);
    button {
      background-color: #272727;
      color: #fff;
      border: 1px solid #272727;
      border-radius: 12px;
    }
  }
}

section {
  display: flex;
  justify-content: space-between;
}

.finance article {
  width: 50%;
  background-color: #fff;
  h2 {
    color: #3a3a3a;
  }
  p {
    color: #8e8e8e;
  }
  footer a {
    color: #50c5da;
  }
}

.finance .credit {
  display: flex;
}

.offers article {
  width: 33.33%;
  background-color: #50c5da;
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  button {
    border: solid 1px #fff;
    border-radius: 8px;
    background-color: #50c5da;
    color: #fff;
  }
  .procent {
    font-weight: bold;
    font-size: 96px;
  }
  img {
    margin: 1em;
  }
}

.lists {
  color: #717070;
  .list {
    background-color: #fff;
    width: 33.33%;
    display: flex;
    align-items: center;
    flex-direction: column;
    ul {
      list-style: none;
      li::before {
        content: "\25AA";
        color: #d6d6d6;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }
}

footer {
  display: flex;
  justify-content: space-between;
  color: #c3c3c3;
  ul {
    display: flex;
    li {
    	list-style: none;
    	margin: 0;
    	padding: 0;
    }
  }
}
